
#creditCard_text, #sobrefac_text2, #sobrefac_text1{
    height: 0px;
    width: 0px;
}

.pli {
    display: inline;
}

#tab-content span{
    display: none;
}
  
#tab-content span.is-active {
    display:block;
}

.mod_input{
    max-width: 10em;
    resize:none;
    overflow: hidden;
}