
#creditCard_text, #sobrefac_text2, #sobrefac_text1{
    height: 0px;
    width: 0px;
}

.pli {
    display: inline;
}

.modifier_textarea{
    resize:none;
    height:2em;
    width: 5em;
}

#csv_updater div{
    display: none;
}
  
#csv_updater div.is-active {
    display:block;
}


